/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffffff; /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  font-family:''Helvetica', 'Arial', 'Sans-Serif'';
  text-decoration: none;
  font-size: 20px;
  color: ##2E3440;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: none;
  background-color: #2E3440;
  color: #FFFFFF;
}

/* On smaller browsers, where width is less than 450px, change the style of the sidebar (topnav, large font size) */
@media screen and (max-width: 450px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: -160px;
  }
  .sidenav a{
    float: left;
    font-size: 1.2em;
  }
  .container{
    margin-left: -160px;
    width: 100%;
    margin-top: 30px;
  }
  head {
    margin-top: 30px;
  }
  
}

/* On smaller devices, where width is less than 450px, change the style of the sidebar (topnav, large font size) */
@media screen and (max-device-width: 450px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: -160px;
  }
  .sidenav a{
    float: left;
    font-size: 3.5em;
  }
  .container {
    margin-left: -100px;
    width: 100%;
    margin-top: 40px;
    font-size: 3em;
  }
}

/* Style page content */
.main {
  margin-left: 170px; /* Width of sidebar + 10px */
  padding: 10px 10px;
}

body {
    margin-top: 60px;
    margin-left: 170px;
    width: 70%;
}

.image-list { list-style: none; }

.container {
  float: left;
}

.image {
  display: inline-block;
  width: 49%;
}

.caption {
  display: block;
  width: 49%;
  text-align: center; /* assuming centered captions */
}

/*nav {
    border-bottom: 1px solid #d5d5d5;
    background-color: #B8336A;
}*/

nav ul, footer ul {
    font-family:''Helvetica', 'Arial', 'Sans-Serif'';
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: #;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #2E3440;
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ol li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

ul li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#tags a:link, #tags a:visited {
  background-color: #f1f1f1;
  color: #2E3440;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
}