<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
		<link rel="manifest" href="/assets/favicon/site.webmanifest">
	</head>
	<body>
		<!-- <nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav> -->

		<!-- Side navigation -->
		<div class="sidenav">
			<a href="/">home</a>
			<a href="/about">about</a>
			<a href="/cv">cv</a>
			<a href="/blog">blog</a>
			<a href="mailto:contact@aimee.codes">contact</a>
			<a href="https://github.com/aimosjo">github</a>
		</div>

		<div class="container">
    		
		{{ content }}
		
		
		</div><!-- /.container -->
	</body>
</html>
